{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",

    "Jira_Project": "SUP",
    "Jira_Instance": "https://example.atlassian.net/",
    "Jira_IssueID": "10004",
    "Jira_CustomField_TawkSID": "",
    "Jira_CustomField_TawkHID": "",

    "Jira_Username": "jira@example.com",
    "Jira_APIKey": "putYOURapiKEYhere",

    "TawkTo_TicketsEmail": "PUTyourTICKETSemailHERE@tickets.tawk.to",
    "TawkTo_Secret": "TODO",

    "Sendgrid_API_Key":"SENDGRIDapiKEYhere"
    "EmailFrom": "tickets@example.com"
  }
}
